<!DOCTYPE html>
<html>
<head>
<title> Not KaHoot </title>
</head>
<script src="/socket.io/socket.io.js"></script>

<body>

    <form action="/createQuizInDB" method="post">
    Name of Quiz:<input name="nameOfQuiz" type="text" id="quiz-name"><br>
    <button type="button" onclick="addQuestion()">Add a question!</button>
    <dif id="questions">
        <br>

    </dif>
    <button type="button" onclick="sendFormAsJson();">Submit</button>
</form> 
</body>
<script>   
    questionId=0;
    questionElements=[];
    //Takes a questionID and is a list of answer Elements.
    AnswerElsToQuestions=[];
    AnswerAmounts=[];

    //Grabing the proctorid from get request. 
    let url = new URL(document.URL);
    var proctor_id = url.searchParams.get("proctor_id");
    // console.log(proctor_id);

    function addQuestion(){
        var questionsDif = document.getElementById('questions');
        //create question element
        var question = document.createElement("input");
        question.setAttribute('id',"question"+questionId);
        question.setAttribute('name',"question"+questionId);
        question.setAttribute('placeholder',"text of question "+questionId);
        question.setAttribute('type',"text");

        //add the question element to the questionsDif
        questionElements.push(question);
        AnswerElsToQuestions[questionId]=[];//make the answers array. 
        questionsDif.appendChild(question);
        
        //Add a button for adding answers. 
        var addAnswerButt = document.createElement("button");
        addAnswerButt.setAttribute("onclick","addAnswer("+questionId+")");
        addAnswerButt.setAttribute("type","button")
        addAnswerButt.innerHTML="add Answer";
        questionsDif.appendChild(addAnswerButt);
        
        //Create div for Answers
        var answersDiv = document.createElement("div");
        answersDiv.setAttribute("id","answersOfQuestion"+questionId);
        questionsDif.appendChild(answersDiv);
        AnswerAmounts[questionId]=0;

        //Add a br
        questionsDif.appendChild(document.createElement("br"));

        questionId+=1;
    }

    function addAnswer(ID){
        console.log(ID);
        answerId = AnswerAmounts[ID];
        
        //get the answer dif according to ID. 
        var answerDif = document.getElementById("answersOfQuestion"+ID);

        //create the Answer Element
        var Answer = document.createElement("input");
        Answer.setAttribute('id',answerId+"answerOfQuestion"+ID); //may become mixed on the post request. 
        Answer.setAttribute('name',answerId+"answerOfQuestion"+ID);
        Answer.setAttribute('placeholder',"text of answer "+answerId);
        Answer.setAttribute('type',"text");
        answerDif.appendChild(Answer);
        
        AnswerElsToQuestions[ID][answerId]=Answer;

        AnswerAmounts[ID]++;
    }


    //TODO: finish and fix this
    function sendFormAsJson(){
        obj = {}; //Create base obj

        //setProctorId
        obj.proctorId=proctor_id;

        //get the name of the quiz
        var quizNameEl = document.getElementById('quiz-name');
        obj.quizName = quizNameEl.value;

        //get the questions
        obj.questions=[];
        for( i in questionElements){
            obj.questions[i]={}
            obj.questions[i].questionText = questionElements[i].value;
            //Get the answers for each question. 
            obj.questions[i].answersText=[];
            for( j in AnswerElsToQuestions[i]){
                obj.questions[i].answersText.push(AnswerElsToQuestions[i][j].value);
            }
        }
            // console.log(JSON.stringify(obj));

        var xmlRec = new XMLHttpRequest();
        xmlRec.open("POST", '/createQuizInDB', true);
        xmlRec.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlRec.onload = function(){
            console.log("The post request has been sent");
            window.location.href = "proctorLanding?proctor_id=" + proctor_id;
        }
        xmlRec.send(JSON.stringify(obj));//Json Sent here
        console.log(JSON.stringify(obj));

    }


    var socket = io();


    function submit(){
        // console.log(questionElements);
        // console.log("Submit was pressed");
        quizName = document.getElementById('quiz-name').value;
        // console.log(quizName);
        if (quizName == ''){
            alert("You forgot to put a quiz name.");
            return;
        }
        questions = []
        for (x in questionElements){
            txt = questionElements[x].value;
            // console.log(txt);
            if (txt !=''){
                questions.push(txt);
            }
        }
        quiz = new createQuizObj(quizName,questions);
        console.log(quiz);
        //now we just need to sent the quiz obj here. 
        socket.emit('create-quiz', quiz);
    }



    function createQuizObj(name,questions) { 
        this.name = name; //Name of quiz. 
        this.questions =questions; //List of questions on quiz.
        //this.moderator = moderator; // Owner of the quiz.
    }


</script>
</html>

