<!DOCTYPE html>
<html>
<head>
<title> Not KaHoot </title>
</head>
<script src="/socket.io/socket.io.js"></script>

<body onload="getQuizInfo()">

    Name of Quiz:<input type="text" id="quiz-name" value="quiz.name"><br>
    <button onclick="addQuestion()">Add a question!</button>
    <dif id="questions">
        <br>

    </dif>
    <button onclick="save();">Submit</button>
        
</body>
<script>   
    var url = new URL(document.URL);
    var quiz_id = url.searchParams.get("quiz_id"); 
    console.log('quiz_id in createQuiz ' + quiz_id);
    
    questionElements=[];
    quizCount = 0;
    function getQuizInfo() {
        //get quiz from database with quiz id
        quizCount = 3
        for(var i = 0; i < quizCount; i++){
            var questionsDif = document.getElementById('questions');
            var question = document.createElement("input");         
            question.setAttribute('id',"question-"+"quiz.questin_id");   
            question.setAttribute('value',"quiz.question");
            questionElements.push(question);
            questionsDif.appendChild(question);
            questionsDif.appendChild(document.createElement("br"));
        }

    }
    
    questionId=quizCount + 1;

    function addQuestion(){
        var questionsDif = document.getElementById('questions');
        var question = document.createElement("input");
        question.setAttribute('id',"question-"+questionId);
        question.setAttribute('type',"text");
        questionId+=1;
        questionElements.push(question);
        questionsDif.appendChild(question);
        questionsDif.appendChild(document.createElement("br"));
    }

    var socket = io();


    function save(){
        // console.log(questionElements);
        // console.log("Submit was pressed");
        quizName = document.getElementById('quiz-name').value;
        // console.log(quizName);
        if (quizName == ''){
            alert("You forgot to put a quiz name.");
            return;
        }
        questions = []
        for (x in questionElements){
            txt = questionElements[x].value;
            // console.log(txt);
            if (txt !=''){
                questions.push(txt);
            }
        }
        quiz = new createQuizObj(quizName,questions);
        console.log(quiz);
        //now we just need to sent the quiz obj here. 
        socket.emit('create-quiz', quiz);
    }



    function createQuizObj(name,questions) { 
        this.name = name; //Name of quiz. 
        this.questions =questions; //List of questions on quiz.
        //this.moderator = moderator; // Owner of the quiz.
    }


</script>
</html>

